@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url('icomoon.css')
@font-face
    font-family Proxima
    font-style normal
    src url(fonts/ProximaNova-Regular.otf)

highlight_text = #fff
text_color = #575474
second_text_color = #aaa
border_color = #eeeeee
bg_color = #fafafa
button_color = #6cdcac
button_color_hover = #71efb9
fade_color = #e2e2e2

.container
    max-width 75em
    margin 0 auto

html,body
    text-rendering: optimizeLegibility;  
    -webkit-font-smoothing: antialiased;
    .divider
        height 1px
        width 100%
        background border_color
        margin 8em 0 5em
        
    
body
    font-size 100%
    text-align center
    font-family: Proxima,'Lato',sans-serif;
    .hero
        background url('../../images/hero.jpg') no-repeat center top
        background-size cover
        max-width 100%
        margin 0 auto
        padding-bottom 12em
        header
            img
                margin 1em 0 0 1em
                width 8em
                height 2em
                float left
            ul
                float right
                margin-top 1em
                li
                    color highlight_text
                    float left
                    margin 0 .5em
                    padding .5em 1em
                    border 1px solid transparent
                    border-radius: 3px
                    list-style-type none
                    cursor pointer
                    &:last-child
                        border 1px solid highlight_text
            clearfix()
        h1
            color highlight_text
            margin-top 3em
            font-size 4em
            padding 1em 0 0 0
        h2
            color highlight_text
            font-size 2em
            font-weight normal
        form
            margin-top 1em
            input
                border none
                box-sizing border-box
                &[type=text]
                    padding 1em
                    width 18em
                    border-radius 2px 0 0 2px
                    background rgba(255,255,255,.3)
                    color text_color
                &[type=button]
                    padding 1em
                    width 6em
                    border-radius 0 2px 2px 0
                    background-color button_color
                    color highlight_text
                    transition all 200ms
                    &:hover
                        background-color button_color_hover
.numbers
    width 60%
    margin 0 auto
    ul
        position relative
        top -4em
        margin 0
        padding 0
        li
            float left
            width 25%
            list-style-type none
            box-sizing border-box
            border-top 1px solid border_color
            border-bottom 1px solid border_color
            border-left 1px solid border_color
            background bg_color
            &:last-child
                border-right 1px solid border_color
    clearfix()
    h2
        font-size 1.8em
        margin-bottom .1em
    h3
        font-weight normal
        margin-bottom 1.5em
            
.how_it_works
    text-align center
    clearfix()
    h2
        font-size 2em
        word-spacing .1em
        &:after
            content ''
            display block
            width 1.5em
            height 2px
            background second_text_color
            margin .2em auto 2em
    ul
        max-width 75em
        margin 0 auto
        padding 0
        li
            float left
            width 33.33%
            padding 0 1em
            box-sizing border-box
            list-style-type none
            position relative
            z-index 1
            &:not(:last-child):before
                content ''
                display block
                position absolute
                left 60%
                top 3em
                width 80%
                height 1px
                background second_text_color
            .number
                text-align center
                font-size 1.5em
                color text_color
                border 1px solid second_text_color
                background #fff
                z-index 10
                width 1em
                height 1em
                line-height 1em
                display block
                margin 1em auto 2em
                padding .4em
                border-radius 100%
            i
                font-size 3em
                &.icon-list2
                    color #8cd109
                &.icon-pencil
                    color #239ffa
                &.icon-users
                    color #ed10d3
            h3
                font-size 1.6em
                margin 1em 0 .5em
            p
                color second_text_color
                line-height 1.3em
                
.why_choose_us
    text-align center
    width 75em
    margin 0 auto
    h2
        font-size 2em
        word-spacing .1em
        &:after
            content ''
            display block
            width 1.5em
            height 2px
            background second_text_color
            margin .2em auto 2em
    .summary
        display inline-block
        vertical-align top
        box-sizing border-box
        width 49%
        margin-bottom 20px
        i,article
            display inline-block
            vertical-align top
        i
            width 20%
            font-size 1.5em
            &.icon-checkmark
                color #1cded6
            &.icon-price-tag
                color #519afd
            &.icon-loop2
                color #9ded2f
            &.icon-user
                color #37a4f4
            &.icon-clipboard
                color #f75681
            &.icon-happy
                color #71d020
        article
            width 80%
            text-align left
            h3
                margin 0
                font-size 1.3em
            p
                color second_text_color
                line-height 1.5em

.quote
    width 75em
    margin 0 auto
    text-align center
    padding-bottom 100px
    .menu
        width 20em
        margin 2em auto
        border-radius 6px
        padding 0
        border 1px solid text_color
        background-color #fff
        clearfix()
        li
            list-style-type none
            float left
            padding 16px 0
            width 50%
            color text_color
            transition all 200ms
            cursor pointer
            &.active
                background-color text_color
                color #fff
            &:hover
                background-color text_color
                color #fff
    i
        color fade_color
        font-size 140%
        display block
        margin 50px 0 40px
    article
        display none
        animation-duration 800ms
        &.current
                display block
        h2
            color text_color
            line-height 1.3
            &:after
                    content ''
                    width 2em
                    height 2px
                    background-color border_color
                    display block
                    margin 0 auto
                    margin-top 30px
    .people
        margin 30px auto 0
        text-align center
        display block
        width 30em
        padding 0
        list-style-type none
        clearfix()
        li
            display inline-block
            vertical-align middle
            width 4.8em
            height 4.8em
            margin 60px 2em 0
            border 1px solid border_color
            padding 4px
            border-radius 100%
            background-size 5em
            background-position center center
            background-repeat no-repeat
            background-clip content-box
            opacity .3
            transition all 200ms
            cursor pointer
            position relative
            .text_wrap
                width 120px
                position absolute
                margin-left -60px
                left 50%
                top -68px
                font-size 90%
                display none
                p
                    color text_color
                    margin 8px 0
                    &.name
                        font-weight bold
            &.item1
                background-image url('../../images/pe2.jpg')
            &.item2
                background-image url('../../images/pe1.jpg')
            &.item3
                background-image url('../../images/pe3.jpg')
            &.active
                opacity 1
                transform scale(1.2)
                .text_wrap
                    display block
            &:not(.active):hover
                opacity .8
.bottom
    background-image url('../../images/footer.jpg')
    background-size cover
    background-position center center
    padding 100px 0
    form
        label
            color #fff
            font-size 2em
            font-weight bold
            margin-right 50px
            vertical-align middle
        input
                border none
                box-sizing border-box
                vertical-align middle
                &[type=text]
                    padding 1em
                    width 40em
                    border-radius 2px 0 0 2px
                    background rgb(255,255,255)
                    color text_color
                &[type=button]
                    padding 1em
                    width 6em
                    border-radius 0 2px 2px 0
                    background-color button_color
                    color highlight_text
                    transition all 200ms
                    &:hover
                        background-color button_color_hover
            
footer
    clearfix()
    text-align none
    padding 30px 0
    width 75em
    margin 0 auto
    ul
        margin 0
        padding 0
        li
            display inline-block
            vertical-align middle
            list-style-type none
            margin 0 .8em
            color second_text_color
            transition all 200ms
            cursor pointer
            a
                transition all 200ms
                color second_text_color
                outline none
                text-decoration none
        &.foo_list
            float left
            text-align left
            line-height 1.8
            li:hover
                text-decoration underline
        &.social
            float right
            text-align right
            font-size 1.6em
            a.icon-soundcloud:hover
                color #FF5500
            a.icon-github:hover
                color #333
    
                